<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(15, 15, 17); z-index: 30001; opacity: 0.3;display: none;">
        <p style="position: absolute; color: rgb(19, 18, 18); font-weight: bold; top: 45%; left: 45%;">
          Loading, please wait...
          <img src="https://timesheet.teri.res.in/images/ajax-loading.gif">
        </p>
      </div>  
<div style="text-align:center">
    <h2>Online Locker Management System</h2>
</div>
  
<div class="container-fluid">

    <router-outlet></router-outlet>

</div>

