<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="dashboard">Welcome {{user.username}}</a>
    </div>
    <!-- <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul> -->
    <ul class="nav navbar-nav navbar-right">
      <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
      <li><a href="#" (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <button class="commonButtonDesign text-center" (click)="request_locker()" [ngStyle] = "{'display' : hideButton}" >Apply For Locker - Single</button>

    <button class="commonButtonDesign text-center" (click)="request_locker()" [ngStyle] = "{'display' : hideButton}" >Apply For Locker - Joint Account</button>
    
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <label [ngStyle] = "{'display' : messageVisibility}">You have requested for locker. Please check and try to login after 24 hours. you will be redirected to the panel once bank apporves your locker application</label>
  </div>
  

</div>