
<div class="container text-center">
  <h4>Welcome Bank</h4>
  
</div>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="bankdashboard">{{user.username}}</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
      <li><button class="btn btn-link" (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</button></li>
    </ul>
  </div>
</nav>


<div class="container text-center">
    <h5>You can see all the requests here and keep the track of available locker being used by customer</h5>
    <hr><br>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home" (click)="refreshQueue()">Locker Application Queue</a></li>
  <li><a data-toggle="tab" href="#menu1" (click)="refreshLocker()">Locker Availability</a></li>
  <li><a data-toggle="tab" href="#menu2" (click)="refreshAppointment()">Locker Appointments</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>Locker Application Queue</h3>
    <p>Locker application queue :  these people are waiting for free locker</p>
    <!-- {{test}} -->

    <table class="table table-responsive table-bordered table-hover ">
      <thead>
        <tr>
          <th>S.no</th>
          <th>Locker Application Id</th>
          <th>Account Number</th>
          <th>Requested on</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of records; let i=index;">
          <td>{{i+1}}</td>
          <td>{{data.locker_application_id}}</td>
          <td>{{data.customer_id}}</td>
          <td>{{data.requested_date}}</td>
          <td>
            <button class="btn btn-success" (click)="approve(data.customer_id)">Approve</button>
          </td>
        </tr>
      </tbody>

    </table>

  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Available Locker</h3>
    <p>Locker are being used by customers</p>
    <table class="table table-responsive table-bordered table-hover ">
        <thead>
          <tr>
            <th>S.no</th>
            <th>Locker ID</th>
            <th>Assigned to (Account Number)</th>
            <th>Availability</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of availableLocker; let i=index;">
              <td *ngIf="!data.account_number == false; else s">{{i+1}}</td>
              <ng-template #s><td style="background-color:lightgreen">{{i+1}}</td></ng-template>

              <td *ngIf="!data.account_number == false; else id">{{data.locker_id}}</td>
              <ng-template #id><td style="background-color:lightgreen">{{data.locker_id}}</td></ng-template>

              <td *ngIf="!data.account_number == false; else elseBlock">{{data.account_number}}
                  
              </td>
              <ng-template #elseBlock><td style="background-color:lightgreen">Not Assigned Yet!</td></ng-template>
              <td *ngIf="!data.account_number == false; else availability">{{data.availability}}</td>
              <ng-template #availability><td style="background-color:lightgreen">{{data.availability}}</td></ng-template>


              
              <td *ngIf="!data.account_number == false else elsecancel">
                <button class="btn btn-danger" (click)="cancel(data.account_number)">Cancel</button>
              </td>
            <ng-template #elsecancel><td style="background-color:lightgreen"></td></ng-template>
            </tr>
        </tbody>
  
      </table>
  
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Locker Appointments </h3>
    <p>You can approve or reject </p>

    <table class="table table-responsive table-bordered table-hover ">
        <thead>
          <tr>
            <th>S.no</th>
            <th>Locker ID</th>
            <th>Access ID</th>
            <th>Account</th>
            <th>Date</th>
            <th>Time</th>
            <th>Charges</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of appointments; let i=index;">
            <td>{{i+1}}</td>
            <td>{{data.locker_id}}</td>
            <td>{{data.access_id}}</td>
            <td>{{data.account}}</td>
            <td>{{data.date}}</td>
            <td>{{data.time}}</td>
            <td>{{data.charges}}</td>
            <td>
              <div class="btn-group">
                  <button class="btn btn-success" (click)="approveAppointment(data.access_id)">Approve</button>
                  <button class="btn btn-danger" (click)="rejectAppointment(data.access_id)">Reject</button>
              </div>
            </td>
          </tr>
            
        </tbody>
      </table>
  </div>
</div>
</div>