<script>

 </script>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="dashboard">Welcome {{user.username}}</a>
    </div>
    <!-- <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul> -->
    <ul class="nav navbar-nav navbar-right">
      <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
      <li><a href="#" (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<div class="row information">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <label>Locker Issue Date  : {{approved_date}}</label><br>
      <label>Locker Expiry Date : {{expiry_date}}</label><br>
      <label>Bank Balance : {{balance}} rupees</label><br>
      (Locker charges will be deducted on {{expiry_date}})
  </div>
</div>

<br>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <table class="table table-hover">
      <tr>
        <td>
           No records
        </td>
      </tr>

    </table>

    <label [ngStyle]="{'display': lockeraccesspending_message}"></label>
    <form (ngSubmit)="accessrequest()" class="form-inline"  #request="ngForm" name="request" id="request" method="post" role="form" [ngStyle] = "{'display' : formHide}">
    <div ngModelGroup="requestData" #requestData="ngModelGroup">
      <h3>Locker access appointment : </h3> 
      <div class="form-group">
          <label>Date : &nbsp;</label>
          <input id="date" name="date" type="date" class="form-control" ngModel required>&nbsp;
      </div>
      <div class="form-group">
          <label>Time : &nbsp;</label>
          <input id="time" name="time" type="time" class="form-control" ngModel required>&nbsp;
      </div>
      <!-- <div class="form-group"> -->
        <span style="color:red">{{warning}}</span>
      <!-- </div> -->
      <div class="form-group">
          <input id="submit" name="submit" type="submit" value="Request" class="form-control">
      </div>

    </div>
    </form>

    
  </div>
</div>

